@font-face {
  font-family: "ramen";
  src: url("../app//fonts/Japanese\ Ramen.ttf");
}
@font-face {
  font-family: "japanese";
  src: url("../app//fonts/Japanese\ 3017.ttf");
}
@font-face {
  font-family: "print";
  src: url("../app//fonts/Rushford\ Printed.otf");
}
.main {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  border: 1px solid blue;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='97' height='97' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23EEEEEE' fill-opacity='0.11' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E"),  radial-gradient(#fde8e9, #ff6747ff 70%);
  // background: url('../../public/background.jpg');
  // background: url('../../public/background.jpg');
  // background-size: 50%;
  // background-position: 55% 70%;
}

.headline {
  color: #fde8e9;
  text: {
    align: center;
    transform: capitalize;
  }
  line-height: 6rem;
  font: {
    size: 6rem;
    family: "print";
  }
}

.gallery {
  width: 100dvw;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  padding: 2rem 5rem;
}

.item {
  scroll-snap-stop: always;
  scroll-snap-align: center;
  position: relative;
  // border: 1px solid black;
  border-radius: 1rem;
  flex: 0 0 250px;
  aspect-ratio: 1;

  
}

.description {
  padding: 0 2rem;
  h2 {
    line-height: 2rem;
    font: {
      size: 1.5rem;
      family: "print";
    }
    text-align: center;
    color: #353531;
  }
}

.ingredients{
  margin-top: 1rem;
  border: 1px solid #fde8e9;
  background: #fde8e9;
  border-radius: 0.5rem;
  padding: 2rem 1rem 1rem 1rem;
}

.active {
  transition: all 1s;
  animation: spin 1s ease-in-out forwards;
}
.inactive {
  opacity: 0.3;
  filter: blur(5px);
  transform: scale(0.8);
}

@keyframes spin {
  0% {
    transform: rotate(-360deg) scale(0.8);
    filter: blur(10px);
    opacity: 0.3;
  }
  100% {
    transform: rotate(0deg) scale(1);
    filter: drop-shadow(0 0rem 1rem rgba(black, 0.4));
  }
}
